
.nav-list {
    margin: 20px;
    font-size: 0;
}

.list-item {
    display: inline-block;
    font-size: 16px;
    position: relative;
    background-color: orangered;
    padding: 10px;
}


.link {
    color: white;
    text-decoration: none;
    padding: 10px;
    width: 100%;
}


.sub-nav-list {
    display: none;
}

.sub-list-item {
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.sub-link {
    color: white;
    text-decoration: none;
    padding: 10px;
    width: 100%;
}

.list-item:hover > .sub-nav-list {
    display: block;
    position: absolute;
    top: 100%;   
}

.list-item:hover {
    background-color: rgb(148, 43, 5);
}

.sub-sub-nav-list {
    display: none;
   
}

.sub-sub-list-item {
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.sub-list-item:hover > .sub-sub-nav-list {
    display: block;
    left: 100%;
    position: absolute;
}

.sub-list-item:hover {
    background-color: rgb(148, 43, 5);
}


.sub-sub-sub-nav-list {
    display: none;
    
}

.sub-sub-sub-list-item {
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding: 10px;
}

.sub-sub-list-item:hover > .sub-sub-sub-nav-list {
    display: block;
    left: 100%;
    position: absolute;
}

.sub-sub-list-item:hover {
    background-color: rgb(148, 43, 5);
}

.sub-sub-sub-list-item:hover {
    background-color: rgb(148, 43, 5);
}
