* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 20000000px;
}
.container {
    background-color: greenyellow;
    height: 800px;
    width: 80%;
    margin: 0 auto;
}

.wrapper {
    background-color: dodgerblue;
    width: 80%;
    height: 800px;
}

.inner {
    background-color: forestgreen;
    border: 1px solid black;
    width: 80px;
    height: 80px;
    text-align: center;
}

.one {
    position: relative;
    top: 20px;
    left: 20px;
}

.two {

}
.three {

}

.four {

}



