table {
    border-collapse: collapse;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    color: rgb(97, 97, 97);
    display: flex;
}

td {
    padding: 15px 35px;
}

tr:nth-child(2n+1) {
    background-color: rgb(221, 216, 216);
}

tr:nth-child(n+3) :first-child {
    background-color: rgb(4, 156, 4);
    color: white;
}
tr:nth-child(2n) :first-child{
    background-color: rgb(0, 87, 0);
    color: white;
}

tr:first-child {
    background-color: blue;
    color: white;
    font-weight: 600;
}

#btn {
    border-radius: 8px;
    padding: 5px 10px;
    display: block;
    background-color: blue;
}





